/* style.css */
@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

body.user-page {
  background: url('blur.png') no-repeat center center/cover;
  height: 100vh;
  margin: 0;
}

.UserPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 20px;
  animation: blurIn 1.5s ease-in-out;
}

.Button {
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
}

.Button:hover {
  background-color: #0056b3;
}